<!DOCTYPE html>
<html>
<head>
  <%= include_gon %>
  <title>Earth2</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
	<script type="text/javascript" src="https://www.google.com/jsapi"> </script>
	<script type="text/javascript">
	    google.load("earth", "1", {"other_params":"sensor=true_or_false"});
		google.load('search', '1');
		google.load("elements", "1", {packages : ["newsshow"]});
	</script>
	  
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="branding"  style="float: left;"></div><br/>
<div id="sample-ui"></div>

	<div id="content">
	<div id="map3d"></div>
	
	
<!-- 			<a href="#" id="toggleBtn">
				<span class="fa fa-bars"></span>
			</a>  -->
	<div id="outer">
			<div id="newsfeed">
	<!-- 				<div id="toggle_button"><button type="button"><<</button>
					</div> -->
					<div class="article"></div>
					<div class="article"></div>
					<div class="article"></div>
			</div>
	</div>
</div>	

<%= yield %>

</body>
</html>
